<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yepao.mapper.HallCommentMapper" >
  <resultMap id="BaseResultMap" type="com.yepao.pojo.HallComment" >
    <id column="hall_id" property="hallId" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="comp_level" property="compLevel" jdbcType="INTEGER" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    hall_id, customer_id, comment_content, comp_level, img, created
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yepao.pojo.HallCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hall_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hall_comment
    where hall_id = #{hallId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hall_comment
    where hall_id = #{hallId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yepao.pojo.HallCommentExample" >
    delete from hall_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yepao.pojo.HallComment" >
    insert into hall_comment (hall_id, customer_id, comment_content, 
      comp_level, img, created
      )
    values (#{hallId,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{commentContent,jdbcType=VARCHAR}, 
      #{compLevel,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yepao.pojo.HallComment" >
    insert into hall_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hallId != null" >
        hall_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
      <if test="compLevel != null" >
        comp_level,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hallId != null" >
        #{hallId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="compLevel != null" >
        #{compLevel,jdbcType=INTEGER},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yepao.pojo.HallCommentExample" resultType="java.lang.Integer" >
    select count(*) from hall_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hall_comment
    <set >
      <if test="record.hallId != null" >
        hall_id = #{record.hallId,jdbcType=BIGINT},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=BIGINT},
      </if>
      <if test="record.commentContent != null" >
        comment_content = #{record.commentContent,jdbcType=VARCHAR},
      </if>
      <if test="record.compLevel != null" >
        comp_level = #{record.compLevel,jdbcType=INTEGER},
      </if>
      <if test="record.img != null" >
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hall_comment
    set hall_id = #{record.hallId,jdbcType=BIGINT},
      customer_id = #{record.customerId,jdbcType=BIGINT},
      comment_content = #{record.commentContent,jdbcType=VARCHAR},
      comp_level = #{record.compLevel,jdbcType=INTEGER},
      img = #{record.img,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yepao.pojo.HallComment" >
    update hall_comment
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="compLevel != null" >
        comp_level = #{compLevel,jdbcType=INTEGER},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hall_id = #{hallId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yepao.pojo.HallComment" >
    update hall_comment
    set customer_id = #{customerId,jdbcType=BIGINT},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      comp_level = #{compLevel,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP}
    where hall_id = #{hallId,jdbcType=BIGINT}
  </update>
</mapper>